{% load static %}
<html>
    <head>
        <!--<title>{{ title }}</title>-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
     <body>
             <!-- <img src="https://lh3.googleusercontent.com/oeK_BfcP0X9Og2TlYtUjjdTEYWZBqa0xqdCs5eea_xcubFIvFQPOkxQIfTGx7_MNnyjSSg=s143" style="width:50%;margin_top:20px;" alt="" srcset=""> -->
            <br>
         <h1 >welcome to Heritage Finance Network</h1>
         <hr>
    <div class="container">
        <p>
            <strong>Hi {{ username }}</strong><br> <br>
            Your Account Has Been Successfully Created. Please Do Not share Your Details With Anyone <br>
            Please Login To Your Account And Choose A Plan That Fits Your Budget And A Plan That Can Fulfill Your Dream <br> 
        </p>


        <center>

            <a href="{% url 'signin' %}" class="btn btn-success" target="_blank" rel="noopener noreferrer">Login</a>

        </center>



        <hr>
        {% comment %} <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCE6g81Ddt1LgtwTnrQFP-XuTITc5V4FLLr2BmsRNluxkhIMPO" alt="" srcset=""> {% endcomment %}
    </div>

        <p class="text-center"> welcome to Heritage Finance Network </p>
     </body>